@media print {

    @page {
        size: A4;
        margin: 5mm;
    }

    /* SEMBUNYIKAN YANG TIDAK PERLU */
    .no-print {
        display: none !important;
    }

    /* PASTIKAN PRINT AREA MUNCUL */
    #print-area {
        display: block !important;
        visibility: visible !important;
        position: static !important;
        width: 100%;
    }

    #print-area,
    table,
    tbody {
        height: auto !important;
        max-height: none !important;
        overflow: visible !important;
    }

    table {
        width: 100%;
        table-layout: fixed;
    }

    thead {
        display: table-header-group;
    }

    .group-column {
        width: 15% !important;
    }

    th, td {
        word-break: normal !important;
        white-space: normal !important;
        font-size: 10px; /* auto shrink */
    }

    tr {
        page-break-inside: avoid;
        break-inside: avoid;
    }

    tbody {
        display: table-row-group;
    }

    .page-break {
        page-break-before: always;
        break-before: page;
    }

    .page-break:last-child {
        display: none !important;
    }

    * {
        -webkit-print-color-adjust: exact !important;
        print-color-adjust: exact !important;
    }
}